langchain
langchain-openai
openai
pydantic
langchain-community
rdkit
rxnmapper
requests
python-dotenv
urllib3
streamlit
PyMuPDF 
scholarly 
networkx 
graphviz 
pubchempy 
Pillow 
fastapi  
uvicorn 
pyvis 
loguru